{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}

<h1 class="mt-4">Lista de Equipamentos</h1>
<a href="{% url 'cadastrar-equipamento' %}" class="btn btn-primary float-right ms-5">Cadastrar Equipamento</a>
<hr>
<table class="table table-striped">

    <thead>
        <tr>
            <th>
                
            </th>
            <th>Nome Equipamento</th>
            <th>Data Entrada</th>
            <th>Status</th>
            <th>Descrição</th>
            <th>Tipo Equipamento</th>
        </tr>
    </thead>

    <tbody>
        {% for obj in object_list %}
            <tr>
                <td>{{obj.nome_equipamento}}</td>
                <td>{{obj.data_entrada}}</td>
                <td>{{obj.status}}</td>
                <td>{{obj.descricao}}</td>
                <td>{{obj.tipo_equipamento}}</td>
                <td>
                    <a href="{% url 'editar-equipamento' obj.pk %}" class="btn btn-warning">
                        Editar</a>
                    <a href="{% url 'excluir-equipamento' obj.pk %}" class="btn btn-danger">
                        Excluir</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="100%">Nenhum Registro Encontrado!</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}
