{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}

<h1 class="mt-4">Lista de Ordem de Servicos</h1>
<a href="{% url 'cadastrar-ordemServico' %}" class="btn btn-primary float-right ms-5">Cadastrar Ordem de Servico</a>
<hr>
<table class="table table-striped">

    <thead>
        <tr>
            <th>Descricao</th>
            <th>Data Inicial</th>
            <th>Data Fechamento</th>
            <th>Equipamento</th>
            <th>Status</th>
            <th>Opções</th>
        </tr>
    </thead>

    <tbody>
        {% for obj in object_list %}
            <tr>
                <td>{{obj.descricao}}</td>
                <td>{{obj.data_inicial}}</td>
                <td>{{obj.data_final}}</td>
                <td>{{obj.equipamento}}</td>
                <td>{{obj.status}}</td>

                {% if obj.data_final|filtroDataFinal %}
                <td class="text-success">{{obj.data_final}}</td>
                {% else %}
                <td class="text-danger">{{obj.data_final}}</td>
                {% endif %}

                <td>
                    <a href="{% url 'editar-ordemServico' obj.pk %}" class="btn btn-warning">
                        Editar</a>
                    <a href="{% url 'excluir-ordemServico' obj.pk %}" class="btn btn-danger">
                        Excluir</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="100%">Nenhum Registro Encontrado!</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}
